@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --radius: 15px;
  --form-gap: 2rem;
  --form-bg-color: #1c1c1c;
  --form-padding: 1rem;
  --input-color: #a6a6a6;
  --button-bg-color: #79d2b5;
  --button-text-color: #2e2e2e;
}

.App {
  display: flex;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}

header,
.forms,
.preview {
  outline: solid black 1px;
}

h1,
h2 {
  margin: 0;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: var(--radius);
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.03s;
  font-weight: bold;
}

button:active {
  background-color: #6ab89e;
  transform: scale(0.95);
}

button:disabled {
  opacity: 0;
  pointer-events: none;
}

.sidebar {
  padding: 2rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  min-width: 30%;
  max-width: 35%;
}

/* Header */

header {
  background-color: var(--form-bg-color);
  border-radius: var(--radius);
  padding: var(--form-padding);
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-bottom > a > button {
  background-color: #242424;
  color: var(--input-color);
}

.header-options {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* Forms */

.forms {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  padding-top: 0;
}

.form-container {
  background-color: var(--form-bg-color);
  padding: var(--form-padding);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
}

.form-container > div {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.5rem;
}

.form-container > .skill-container {
  margin-top: 0.5rem;
}

.remove-button,
.add-button {
  height: min-content;
  background-color: var(--button-text-color);
  color: var(--input-color);
}

.add-button {
  width: min-content;
  margin-top: 1rem;
}

.remove-button:hover,
.add-button:hover {
  color: var(--button-bg-color);
}

.remove-button:active,
.add-button:active {
  background-color: var(--button-text-color);
}

.remove-button {
  padding: 0.7rem;
}

input,
textarea {
  background-color: #292929;
  color: var(--input-color);
  font-size: 0.9rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-radius: var(--radius);
  border: none;
  padding: 5px 10px;
  transition: all 0.05s;
}

input:focus,
textarea:focus {
  color: white;
  font-weight: bold;
  background-color: #2f2f2f;
  outline: none;
  transform: scale(1.02);
}

textarea {
  height: 100px;
  resize: none;
}

form {
  gap: 0.5rem;
  overflow: hidden;
}

form[data-type="personal"],
form[data-type="education"],
form[data-type="experience"] {
  display: grid;
  grid-template-columns: repeat(2, 49%);
}

form > textarea[id*="details"] {
  grid-column: span 2;
}

.skill-container {
  display: flex;
  align-items: center;
}

form[data-type="skills"] {
  flex: 1;
}

form[data-type="skills"] > input {
  width: 100%;
}

/* Preview */

.preview {
  border-radius: var(--radius);
  font-family: "Times New Roman", Courier, monospace;
  position: fixed;
  left: 50%;
  top: 2rem;
  width: 540px;
  aspect-ratio: 70/99;
  padding: 2rem;
  background-color: white;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.preview * {
  margin: 0;
}

.preview h1 {
  font-size: 1.5rem;
}
.preview h2 {
  font-size: 1.2rem;
}
.preview h4 {
  font-size: 0.9rem;
}
.preview h4 > i {
  color: #383838;
  font-size: 0.85rem;
  font-weight: 100;
}

.preview p,
.preview li {
  font-size: 0.8rem;
}

.preview-education > div,
.preview-experience > div {
  margin-top: 0.7rem;
}

.preview-header {
  text-align: center;
}

.preview-subheading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
}

.preview-subheading h4:nth-child(even) {
  justify-self: end;
}

.preview-subheading > * {
  margin: 0;
}

.preview-subheading + * {
  margin: 0;
}
