@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --radius: 10px;
  --form-gap: 2rem;
  --form-bg-color: #1c1c1c;
  --form-padding: 1rem;
  --input-color: rgb(166, 166, 166);
  --button-bg-color: #79d2b5;
  --button-text-color: #2e2e2e;
  --mobile-font-scale: 0.65;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}

header,
.forms,
.preview {
  outline: solid black 1px;
}

h1,
h2 {
  margin: 0;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: var(--radius);
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.03s;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

button > img {
  width: 1rem;
}

a {
  text-decoration: none;
}

button:active {
  background-color: #6ab89e;
  transform: scale(0.95);
}

.add-button:disabled {
  margin: 0;
  padding: 0;
}

button:disabled {
  opacity: 0;
  pointer-events: none;
}

.scroll-to-preview {
  position: fixed;
  margin: 1rem;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.scroll-to-preview > button {
  display: flex;
  align-items: center;
}

.sidebar {
  padding: 2rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  flex: 0.35;
}

/* Header */

header {
  background-color: var(--form-bg-color);
  border-radius: var(--radius);
  padding: var(--form-padding);
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.header-bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-bottom > a > button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

button > p {
  margin: 0;
}

.header-bottom > a > button {
  background-color: #242424;
  color: var(--input-color);
}

.header-options {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* Forms */

.forms {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  padding-top: 0;
}

.form-container {
  background-color: var(--form-bg-color);
  padding: var(--form-padding);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
}

.form-container > div {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.5rem;
}

.form-container > .skill-container {
  margin-top: 0.5rem;
}

.remove-button,
.add-button {
  height: min-content;
  background-color: var(--button-text-color);
  color: var(--input-color);
}

.remove-button {
  padding: 0.5rem;
}

.add-button {
  width: min-content;
  margin-top: 1rem;
}

.remove-button:hover,
.add-button:hover {
  color: var(--button-bg-color);
}

.remove-button:active,
.add-button:active {
  background-color: var(--button-text-color);
}

input,
textarea {
  background-color: #292929;
  color: var(--input-color);
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  border-radius: var(--radius);
  border: none;
  padding: 5px 10px;
  transition: all 0.05s;
  min-width: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

input:focus,
textarea:focus {
  color: white;
  font-weight: bold;
  background-color: #2f2f2f;
  outline: none;
  transform: scale(1.02);
}

textarea {
  height: 100px;
  resize: none;
}

form {
  gap: 0.5rem;
}

form[data-type="personal"],
form[data-type="education"],
form[data-type="experience"],
form[data-type="skills"] {
  display: grid;
  grid-template-columns: repeat(2, 49%);
}

form > textarea[id*="details"],
form > input[id*="skill"] {
  grid-column: span 2;
}

/* Preview */

.preview {
  border-radius: var(--radius);
  font-family: "Times New Roman", Courier, monospace;
  position: fixed;
  left: 50%;
  top: 2rem;
  bottom: 2rem;
  aspect-ratio: 70/99;
  padding: 2rem;
  background-color: white;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  min-width: 544px;
  max-width: 544px;
}

.preview * {
  margin: 0;
}

.preview h1 {
  font-size: 1.5rem;
}
.preview h2 {
  font-size: 1.2rem;
}
.preview h4 {
  font-size: 0.9rem;
}
.preview h4 > i {
  color: #383838;
  font-size: 0.85rem;
  font-weight: 100;
}

.preview p,
.preview li {
  font-size: 0.8rem;
}

.preview-education > div,
.preview-experience > div {
  margin-top: 0.7rem;
}

.preview-header {
  text-align: center;
}

.preview-subheading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
}

.preview-subheading h4:nth-child(even) {
  justify-self: end;
}

.preview-subheading > * {
  margin: 0;
}

.preview-subheading + * {
  margin: 0;
}

@media screen and (max-width: 1300px), (max-height: 800px) {
  .preview {
    position: static;
    margin: 1rem;
    align-self: center;
  }
  .App {
    flex-direction: column;
    gap: 0;
  }

  .sidebar {
    width: 80%;
    align-self: center;
    padding: 2rem;
  }

  .scroll-to-preview {
    visibility: visible;
  }
}

@media screen and (max-width: 715px) {
  .preview {
    max-width: 80%;
    min-width: 80%;
  }
  .sidebar {
    padding: 0.5rem;
  }

  .header-options {
    height: 50%;
  }

  .header-bottom > h2 {
    font-size: 1rem;
  }
  .header-top > h1 {
    font-size: 1.7rem;
  }

  /* preview font sizing */
  .preview h1 {
    font-size: 4.2vw;
  }

  .preview h2 {
    font-size: 3.36vw;
  }

  .preview h4 {
    font-size: 2.16vw;
  }

  .preview h4 > i {
    color: #383838;
    font-size: 2.04vw;
    font-weight: 100;
  }

  .preview p,
  .preview li {
    font-size: 1.8vw;
  }

  .preview-education > div,
  .preview-experience > div {
    margin-top: 1.8vw;
  }
}
